@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --light-grey: rgba(58, 59, 61, 1);
  --very-light-grey: rgba(239, 243, 252, 1);
  --dark: rgba(36, 37, 39, 1);
  --white: rgba(255, 255, 255, 1);
  --purple: rgba(104, 92, 254, 1);
  --cream: rgba(246, 244, 255, 1);
  --bg-color: rgba(242, 245, 254, 1);
  --grey: #999;
  --orange: rgba(233, 165, 14, 1);
  --dark-orange: rgba(255, 87, 0, 1);
  --orange-transparent: rgba(233, 165, 14, 0.125);
  --dark-blue: rgba(0, 14, 75, 1);
  --pink: rgba(204, 17, 119, 1);
  --blood-red: rgba(255, 116, 87, 1);
  --sidebar-width: 250px;
  --transition: all 300ms ease-in-out;
  --card-light-pink: rgba(255, 245, 244, 1);
}
body {
  font-family: "Poppins", sans-serif;
  background: var(--bg-color);
}
::before,
::after,
* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  transition: var(--transition);
}
/* =====================header design========================== */
header {
  width: 100%;
  height: 4rem;
  background: var(--white);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.125);
  display: flex;
  align-items: center;
}
header .header-content {
  width: 93%;
  max-width: 1440px;
  margin: 1rem auto;
  display: grid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-content .header-right {
  display: flex;
  justify-content: space-between;
}

header .header-content .header-right > div:nth-of-type(2) {
  margin: 0 2rem;
}
header .header-content .search-form {
  width: fit-conten;
  height: fit-content;
  background: var(--very-light-grey);
  position: relative;
  border-radius: 8px;
}
header .header-content .search-form .search-input {
  width: 100%;
  padding: 0.5rem 3rem 0.5rem 1rem;
  background: transparent;
  border: 0;
}
header .header-content .search-form .search-input:focus {
  outline: none;
}
header .header-content .search-form .search-btn {
  position: absolute;
  right: 0;
  width: 2rem;
  height: 100%;
  font-size: 1.3rem;
  border: 0;
  background: transparent;
  color: var(--grey);
  cursor: pointer;
}

.toggle-dark-mode-box {
  width: fit-content;
  display: flex;
  align-items: center;
}
#toggle-theme {
  display: none;
}
.toggle-dark-mode-box .toggle-theme {
  display: flex;
  width: 40px;
  height: 8px;
  border-radius: 25px;
  background: var(--very-light-grey);
  position: relative;
  cursor: pointer;
}
.toggle-dark-mode-box .toggle-theme::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background: var(--white);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.125);
}

#toggle-theme:checked ~ header .toggle-theme::before {
  left: 50%;
}
#toggle-theme:checked ~ header .toggle-dark-mode-box .toggle-theme {
  background: var(--orange);
}

header .notification-box {
  width: 2rem;
  height: 2rem;
  background: var(--very-light-grey);
  border-radius: 8px;
  display: grid;
  place-items: center;
  font-size: 1.4rem;
  cursor: pointer;
}
header .notification-box .notification-content {
  position: relative;
}
header .notification-box .header-notification-counter {
  position: absolute;
  top: 0.015rem;
  left: 0.5rem;
  font-size: 0.7rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: var(--orange);
  border: 1px solid var(--white);
}

header .logout-box {
  width: fit-content;
  display: flex;
  align-items: center;
  background: var(--very-light-grey);
  border-radius: 8px;
  padding: 0 0.5rem;
  cursor: pointer;
}
header .logout-box .logout-icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  color: var(--pink);
  display: grid;
  align-items: center;
}
/* ================sidebar design======================= */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 100%;
  background: var(--white);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.125);
  padding: 1rem 0.5rem;
  transition: var(--transition);
  z-index: 1000;
}
.full-width {
  width: var(--sidebar-width);
}
.sidebar .sidebar-top {
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .sidebar-top .letter-c {
  color: var(--pink);
}
.sidebar .sidebar-top .letter-s {
  color: var(--orange);
}
.small-logo-size {
  font-size: 0.9rem;
  width: 1rem;
  height: 1rem;
}
.rotate-sidebar-toggle-btn {
  transform: rotate(180deg);
}
.sidebar .sidebar-top .logo-text-img {
  display: grid;
  place-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 3px;
  color: var(--white);
  font-size: 1.5rem;
  letter-spacing: -0.5rem;
  font-weight: 800;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.125);
}
.commonHidden {
  opacity: 0;
  visibility: hidden;
}
.sidebar .sidebar-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sidebar .sidebar-top .logo-name {
  display: flex;
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.toggle-logo-name {
  opacity: 0;
  visibility: hidden;
}
.sidebar .sidebar-top .sidebar-toggle-btn {
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  font-size: 2rem;
  background: var(--purple);
  position: absolute;
  right: -1rem;
  border-radius: 50%;
  color: var(--white);
  cursor: pointer;
}
/* ================sidebar-content================== */
.sidebar-content .links {
  display: flex;
  flex-direction: column;
}
.sidebar-content .links .link-item {
  position: relative;
  display: flex;
}
.sidebar-content .links .link-item a {
  display: flex;
  width: 100%;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  color: var(--dark);
  margin: 0.5rem 0;
  white-space: nowrap;
}
.sidebar-content .separator {
  height: 1px;
  background: var(--orange-transparent);
  margin: 1rem 0;
}
.dashboardActiveLink {
  border-right: 1px solid var(--purple);
}
.hideSidebar-text {
  opacity: 0;
  visibility: hidden;
}
.sidebar-notication-count {
  position: absolute;
  top: 0;
  left: 0.525rem;
  font-size: 0.6rem;
  display: grid;
  place-items: center;
  background: var(--orange);
  border-radius: 50%;
  width: fit-content;
  padding: 0.2rem;
  font-weight: 600;
}
.sidebar-content .links .link-item .common-style:hover {
  background: var(--orange-transparent);
}
.sidebar-content .links .link-item a i {
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
}
.sidebar-content .links .link-item a .sidebar-Text {
  padding: 0.3rem;
  display: flex;
  white-space: nowrap;
  margin-left: 0.8rem;
}
.user-settings-container {
  position: absolute;
  right: 280px;
  bottom: 0;
  width: 250px;
  height: fit-content;
  border-radius: 8px;
  background: var(--white);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.125);
  padding: 1rem;
  transition: all 500ms ease-in-out;
  z-index: -1;
}
.sidebar-notifications {
  position: relative;
}
.sidebar-notifications .notifications-heading {
  display: flex;
  align-items: center;
}
.sidebar-notifications .notifications-heading i {
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin-right: 0.5rem;
  position: relative;
  z-index: 1;
  color: var(--pink);
}

.sidebar-notification-container {
  position: absolute;
  right: 280px;
  bottom: 0;
  width: 300px;
  height: fit-content;
  border-radius: 8px;
  background: var(--white);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.125);
  padding: 1rem;
  transition: all 500ms ease-in-out;
  z-index: -1;
}
.toggle-sidebar-notification-container {
  right: -320px;
  z-index: -1;
  animation-name: settings-container;
  animation-duration: 1s;
}
.notification-activity {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 75% 1fr;
  margin: 1rem 0;
}
.notification-activity:not(:last-of-type) {
  border-bottom: 1px solid var(--orange-transparent);
}
.notification-activity .notification-text {
  display: flex;
  flex-wrap: wrap;
}
.notification-activity .contact-name,
.notification-activity .activity-name {
  font-size: 0.8rem;
  color: var(--dark-blue);
  font-weight: 500;
}
.activity-icon {
  color: var(--pink);
  width: 2rem;
  height: 2rem;
  background: var(--orange-transparent);
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification-activity .notification-type {
  font-size: 0.8rem;
  color: var(--grey);
}
.notification-activity .contact-photo {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  position: relative;
}
.notification-activity .contact-photo .online-status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  bottom: 0.2rem;
  left: 1.6rem;
}
.notification-activity .contact-photo .online-status.user-active {
  background: #00b894;
  border: 1px solid var(--white);
}
.notification-activity .contact-photo .online-status.user-offline {
  background: var(--grey);
  border: 1px solid var(--white);
}
.notification-activity img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.notification-activity .like-button {
  color: var(--orange);
  transform: rotateY(180deg);
}
.notification-activity .comment-icon {
  color: var(--purple);
}
.photo-icon {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}
.photo-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user-settings-container a {
  transition: var(--transition);
}
.sidebar-account-settings {
  margin-left: 1rem;
}
.sidebar-account-settings-hidden {
  display: none;
}
.sidebar-account {
  right: -270px;
  z-index: -1;
  animation-name: settings-container;
  animation-duration: 4s;
}
@keyframes settings-container {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.8;
    height: fit-content;
  }
  100% {
    opacity: 1;
    height: fit-content;
  }
}
.user-settings-container .user-photo-name {
  display: flex;
  align-items: center;
}
.user-settings-container .user-photo-name .photo {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  border-radius: 3px;
}
.user-settings-container .user-photo-name img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user-settings-container .user-photo-name .user-login {
  margin-left: 1rem;
}
.user-settings-container .user-photo-name .user-login p:nth-of-type(1) {
  color: var(--dark);
  font-weight: 600;
  font-size: 0.9rem;
}
.user-settings-container .user-photo-name .user-login p:nth-of-type(2) {
  color: var(--grey);
  font-weight: 200;
  font-size: 0.7rem;
}
.user-settings-container::before,
.sidebar-notification-container::before {
  position: absolute;
  left: -1rem;
  bottom: 1rem;
  content: "";
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid var(--white);
}
.user-settings-container .user-profile-links a:hover {
  background: var(--orange-transparent);
  color: var(--pink);
}
.sidebar-heading {
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}
.show-sidebar-heading {
  opacity: 1;
  visibility: visible;
  color: var(--light-grey);
}
/* main-wrapper============================================== */
.main-wrapper {
  width: 93%;
  max-width: 1440px;
  margin: 1rem auto;
}

.dashboard-sections {
  display: grid;
  grid-template-columns: repeat(2, 70%, 1fr);
  column-gap: 1rem;
  width: 100%;
  /* background-color: red; */
}

.dashboard-sections .dashboard-left .dashboard-top-cards {
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  /* display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  display: flex;
}
.dashboard-sections .dashboard-left .box-card {
  background: var(--card-light-pink);
  width: 150px;
  padding: 1.5rem 1rem;
  border-radius: 6px;
}
.dashboard-sections .dashboard-left .box-card:not(:first-of-type) {
  margin: 0 1rem;
}
.dashboard-sections .dashboard-left .box-card .card-icon {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: var(--white);
  margin-bottom: 2rem;
  margin: 0 auto;
}
.dashboard-sections .dashboard-left .box-card .card-icon .sales-icon {
  fill: red;
}
.dashboard-sections .dashboard-left .box-card .card-icon .circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: var(--blood-red);
  font-size: 2.4rem;
  color: var(--white);
}
.dashboard-sections .dashboard-left .box-card .card-heading {
  color: var(--dark-blue);
  font-size: 1rem;
  text-align: center;
}
.dashboard-sections .dashboard-left .box-card .small-text-sales {
  font-size: 0.8rem;
  color: var(--grey);
  text-align: center;

  width: 100%;
  display: flex;
  justify-content: center;
}
.dashboard-sections .dashboard-left .box-card .sales-big-text {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--blood-red);
  margin-top: 1rem;
  text-align: center;
}
